"*":
  "atom-beautify":
    general:
      _analyticsUserId: "21019c2c-45a3-407b-b702-0184cc8fdc1c"
    js:
      end_with_comma: true
      end_with_newline: true
  core:
    packagesWithKeymapsDisabled: [
      "atom-beautify"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "FiraCode-Light"
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "826bb6b7-475c-4cfe-8c6c-fedcb1d5e5cb"
  "git-diff":
    showIconsInEditorGutter: true
  "linter-eslint":
    lintHtmlFiles: true
  "linter-jshint":
    lintInlineJavaScript: true
    scopes: [
      "source.js-semantic"
    ]
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
